body {
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	margin: 0px;
	overflow: hidden;
}
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
h1 {
	font-weight: 800;
	font-size: 3.05em;
	color: #4A9DE7;
	text-transform:uppercase;
	margin:0;
	line-height: 1;
	font-weight: 100;
	padding: 0 2em;
	text-align:center;
}
.info {
	position: absolute;
	bottom: 1em;
	right: 1em;	
}
@media screen and (min-width:1200px) {
	.info {
		font-size:1.3em;
	}
}

@media screen and (max-width: 600px) {
	.info {
		font-size:0.6em;
		width:100%;
		text-align:center;
		right:0;
	}
}

p {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 0.25em;
}
a {
    color: #4A9DE7;
}
a:hover {
    color: #007BE9;
    text-decoration: none;
}
rect {
	fill: none;
	pointer-events: all;
}
.node {
	fill: #4A9DE7;
	transition: stroke-width 300ms, fill 300ms;
	stroke-width:0;
	stroke:#fff;
}
.node:hover {
	stroke: #fff;
	cursor: pointer;
}

.cursor {
	fill: none;
	stroke: brown;
	pointer-events: none;
}
.link {
	stroke: #999;
}
.node-cursor {
	stroke:rgba(255,255,255,0.8);
	stroke-width:1.5;
	fill: transparent;
	pointer-events:none;
}
.node-lasso {
	stroke: #fff;
	stroke-width:3;
	pointer-events:none;
	stroke-linecap:round;
}
.node-lasso-active {
	stroke: #fff;
	stroke-width:2;
}
.node-lasso-hover {
	fill:#f00 !important;
	stroke:#fff;
	stroke-width:1;
}
.node-type-root {
	fill: #4a9DE7;
	stroke-width: 2px;
	stroke: #B8DDFF;
}
.node-lasso-hover-circle {
	stroke:rgba(255,255,255,0.8);
	stroke-width:1.5;
	fill:none;
	stroke-dasharray: 2, 3;
	
	-webkit-animation:spin 4s linear infinite;
	   -moz-animation:spin 4s linear infinite;
	        animation:spin 4s linear infinite;
}
.node-lasso-tip {
	fill: #4A9DE7;
	pointer-events:none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }